<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css" > -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Kannada:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body class="body">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        
        
            <img class="side-logo-img" src="My project (1).png" width="30" height="30" class="d-inline-block align-top" alt="">
            
            <img class="side-logo-img" src="My project (1).png" width="30" height="30" class="d-inline-block align-top" alt="">
           
           
            <h class="sitename">ಹರಿ ಸರ್ವೋತ್ತಮ</h>
          
            <!-- <SPAN id="sitename">DAASA SOURABHA</SPAN> -->
            
            <img class="logo-img" src="[removal.ai]_tmp-64a99cda303fd.png" width="30" height="30" class="d-inline-block align-top" alt="">
           
            <h class="sitename">ವಾಯು ಜೀವೋತ್ತಮ</h>
         
            <img class="side-logo-img" src="My project (2).png" width="30" height="30" class="d-inline-block align-top" alt="">
            
        </div>
   
</nav>
<div class="navbar2 navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav2">
        <a class="nav-item nav-link2 active" href="#">Home <span class="sr-only"></span></a>
        <a class="nav-item nav-link2 active" href="#">About Us</a>
        <a class="nav-item nav-link2 active" href="#">Feedback</a>
        <a class="nav-item nav-link2 active" href="#">Requests</a>
        <a class="nav-item nav-link2 active" href="#">Donation</a>
        <a class="nav-item nav-link2 active" href="#">Instagram</a>
      </div>
    </div>
</div>
<div class="d-info-div">
        <img class='piller' src="gframe-removebg.png" alt="">
        <img class='piller2' src="Web capture_9-7-2023_279_127.0.0.1.jpeg" alt="">
        <img class="dasara-pic" src="purandara.jpg" alt="">
        <img class="info-scroll" src="scroll-removebg-preview.png" alt=""> 
        <img class="dasara-name" src="Web capture_9-7-2023_22948_127.0.0.1.jpeg" alt=""> 
        <h class="dasara-name-text"> ಶ್ರೀ ಪುರಂದರ ದಾಸರು</h>
        <div class="dasara-info">
            ಜಾಗತೀಕರಣ’ ಎಂಬುದು ವ್ಯಾಪಕವಾದ ಅರ್ಥವುಳ್ಳದ್ದು ಮತ್ತು ವಿಶ್ವವ್ಯಾಪಿಯಾದುದು. ಸ್ಥಳೀಯ ಆರ್ಥಿಕತೆ, ಸಮಾಜ ಮತ್ತು ಸಂಸ್ಕೃತಿಗಳು ಜಗದ ಜಾಲದ ವಿನಿಮಯಕ್ಕೆ ಒಳಪಡುವುದನ್ನು ‘ಜಾಗತೀಕರಣ’ ಎಂದು ಕರೆಯಲಾಗುತ್ತದೆ. ವ್ಯಾಪಾರ, ವಿದೇಶಿ ನೇರ ಬಂಡವಾಳ, ಬಂಡವಾಳದ ಹರಿವು ವಲಸೆ, ತಾಂತ್ರಿಕತೆಯ ವಿಸ್ತರಣೆಯ ಮೂಲಕ ರಾಷ್ಟ್ರೀಯ ಆರ್ಥಿಕತೆಯ ಜೊತೆಯಲ್ಲಿ ಅಂತಾರಾಷ್ಟ್ರೀಯ ಕತೆಯು ಸಮನ್ವಯಗೊಳ್ಳುತ್ತದೆ.
ಜಾಗತೀಕರಣವನ್ನು ಸಾಮಾನ್ಯವಾಗಿ ಆರ್ಥಿಕ, ತಾಂತ್ರಿಕ, ರಾಜಕೀಯ ಮತ್ತು ಜೈವಿಕ ವಿಚಾರಗಳ ಸಂಯೋಗವೆಂದು ಪರಿಗಣಿಸಲಾಗುವುದು. ಜನಪ್ರಿಯ ಅಥವಾ ಭಾಷೆ, ಕಲ್ಪನೆಗಳ ಹರಡುವಿಕೆಯನ್ನು ಸೂಚಿಸಲು ಜಾಗತೀಕರಣ ಪದವನ್ನು ಬಳಸುತ್ತಿದ್ದೇವೆ.
ಉದಾಹರಣೆಗೆ, ಮೆಕ್‌ಡೊನಾಲ್ಡ್, ಕೆಎಫ್‌ಸಿಗಳು ಹೊರದೇಶದಿಂದ ನಮ್ಮ ದೇಶಕ್ಕೆ ಕಾಲಿಟ್ಟಿರುವ ಆಹಾರ ಸಂಸ್ಕೃತಿ ಗಳು. ಈಗ ಇವು ಸ್ಥಳೀಯವಾಗಿ ಜನಪ್ರಿಯಗೊಂಡು ನಮ್ಮ ಆಹಾರ ಪದ್ಧತಿಯಲ್ಲಿ ಬೆರೆತುಹೋಗುತ್ತಿವೆ. ವಿದೇಶಿ ಆಹಾರ ಸಂಸ್ಕೃತಿಯು ಈ ನೆಲದಲ್ಲಿ ಕಾಲೂರಿ ಇಲ್ಲಿನ ತಿಂಡಿತಿನಿಸುಗಳು ಹಿನ್ನೆಲೆಗೆ ಸರಿಯುತ್ತಿವೆ. ಇದೇ ರೀತಿಯಲ್ಲಿ ಪ್ರಾದೇಶಿಕ ಭಾಷೆಗಳು ಇಂಗ್ಲಿಪಿನ ಎದುರು ಪೈಪೋಟಿ ನಡೆಸಲಾರದೆ ಮರೆಯಾಗುತ್ತಿವೆ. ವೇಷಭೂಪಣ, ಸಂಸ್ಕೃತಿ, ಆಚಾರ-ವಿಚಾರಗಳನ್ನು ಅಂತಾರಾಷ್ಟ್ರೀಯ ಟ್ರೆಂಡ್‌ಗಳು ನಿಯಂತ್ರಿಸುತ್ತಿವೆ

ಕರ್ನಾಟಕವನ್ನು ನಾಲ್ಕು ಭಾಗಗಳಾಗಿ ವಿಂಗಡಿಸಲಾಗಿದೆ – ಮೈಸೂರು ರಾಜ್ಯ, ಮುಂಬೈ ಕರ್ನಾಟಕ, ಹೈದರಾಬಾದ್ ಕರ್ನಾಟಕ ಮತ್ತು ಮದ್ರಾಸ್ ಕರ್ನಾಟಕ. ಈ ಎಲ್ಲ ಭಾಗಗಳಲ್ಲಿ ಕನ್ನಡ ಮಾತನಾಡುವವರಿಗೆ ಮನ್ನಣೆ ನೀಡಲಾಗಿದೆ. ಕರ್ನಾಟಕ ಬಹುಸಂಖ್ಯಾತ ಪ್ರದೇಶಗಳನ್ನು ಕರ್ನಾಟಕಕ್ಕೆ ಸೇರಿಸುವ ಪ್ರಕ್ರಿಯೆ ಭರದಿಂದ ಸಾಗಿದೆ. ಸುತ್ತಮುತ್ತಲಿನ ರಾಜ್ಯಗಳ ಕನ್ನಡ ರಾಜ್ಯಗಳು ಕರ್ನಾಟಕದಲ್ಲಿ ವಿಲೀನಗೊಂಡವು. ಅಂತಿಮವಾಗಿ 1956ರಲ್ಲಿ ಕರ್ನಾಟಕ ಏಕೀಕರಣವಾಯಿತು. ಕನ್ನಡ ರಾಜ್ಯೋತ್ಸವವೂ ಶುರು! ರಾಜ್ಯದ ಹೆಸರು ಮೈಸೂರು. ಏಕೆಂದರೆ ಕರ್ನಾಟಕದ ಮೊದಲ ಸೃಷ್ಟಿ ಮೈಸೂರು ರಾಜ್ಯವನ್ನು ಆಧರಿಸಿತ್ತು. ಮೈಸೂರು ರಾಜ್ಯವನ್ನು 1973 ರಲ್ಲಿ ಕರ್ನಾಟಕ ಎಂದು ಮರುನಾಮಕರಣ ಮಾಡಲಾಯಿತು.

ನವೆಂಬರ್ 1 ಸಾರ್ವಜನಿಕ ರಜಾದಿನವಾಗಿರುವುದರಿಂದ, ವಾರದ ಮುಂದಿನ ದಿನಗಳಲ್ಲಿ ಇದನ್ನು ವಾಣಿಜ್ಯ ಸಂಸ್ಥೆಗಳಲ್ಲಿ ಆಚರಿಸಲಾಗುತ್ತದೆ. ಬೆಂಗಳೂರು ನಗರದಾದ್ಯಂತ ಬಹುತೇಕ ಎಲ್ಲಾ ಕಚೇರಿಗಳು ಮತ್ತು ವ್ಯಾಪಾರ ಸಂಸ್ಥೆಗಳಲ್ಲಿ ಕನ್ನಡ ಧ್ವಜಗಳನ್ನು ಪ್ರಮುಖವಾಗಿ ಹಾರಿಸಲಾಗುತ್ತದೆ ಮತ್ತು ಪ್ರದರ್ಶಿಸಲಾಗುತ್ತದೆ. ಹಲವಾರು ಐಟಿ ಕಂಪನಿಗಳ ಕೇಂದ್ರವಾಗಿರುವ ಬೆಂಗಳೂರಿನ ಪ್ರಮುಖ ಸಂಸ್ಥೆಗಳಾದ ಟಿಸಿಎಸ್, ಐಬಿಎಂ, ಥಾಮ್ಸನ್ ರಾಯಿಟರ್ಸ್, ವಿಪ್ರೋ, ರಾಬರ್ಟ್ ಬಾಷ್, ಎಸ್ಎಪಿ ಲ್ಯಾಬ್ಸ್, ಅಕ್ಸೆಂಚರ್, ಅಲ್ಕಾಟೆಲ್-ಲುಸೆಂಟ್ ಮತ್ತು ಇನ್ಫೋಸಿ ಸಾಂಸ್ಕೃತಿಕ ಕಾರ್ಯಕ್ರಮಗಳನ್ನು ನಡೆಸುವ ಮೂಲಕ ಉದ್ಯೋಗಿಗಳಿಗೆ ಸ್ಥಳೀಯ ಒಲವನ್ನು ಪ್ರದರ್ಶಿಸಲು ಪ್ರೋತ್ಸಾಹಿಸುತ್ತವೆ. ಐಟಿ ಜನಸಮೂಹವು ಕೆಲಸದ ಸ್ಥಳಗಳಿಗೆ ಕನ್ನಡದ ವಿಷಯದ ಟಿ-ಶರ್ಟ್‌ಗಳನ್ನು ಧರಿಸುವ ಮೂಲಕ ತಮ್ಮ ಬೆಂಬಲವನ್ನು ತೋರಿಸುತ್ತದೆ. ಶಿಕ್ಷಣ ಸಂಸ್ಥೆಗಳು ಶಾಲೆಗಳಲ್ಲಿ ಧ್ವಜಾರೋಹಣ ಮತ್ತು ನಾಡಗೀತೆಗಳ ಪ್ರದರ್ಶನದೊಂದಿಗೆ ಇಂತಹ ಕಾರ್ಯಕ್ರಮಗಳನ್ನು ನಡೆಸುತ್ತವೆ.
        </div>

</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>